
.ui-tutorial {
	max-width:none;
}

.tutorial-tooltip, #tutorial-intro {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BBBBBB;
    font-family: Verdana,Arial,sans-serif;
    font-size:13.2px;
    font-weight: 400;
    font-style: normal;
    -moz-box-shadow: 0 0 5px 0 #656565;
	-webkit-box-shadow: 0 0 5px 0 #656565;
	-o-box-shadow: 0 0 5px 0 #656565;
    box-shadow: 0 0 5px 0 #656565;
    opacity: 1;
    max-width:450px;
    min-width:300px;
    padding:10px;
    display: block;
    position: absolute !important;
    z-index: 5010;
}

#tutorial-intro {
	background-color : #fff;
}

.tutorial-title, #intro-title {
	border-bottom: 1px solid #D3D3D3;
    color: #004ECC;
    margin-bottom: 10px;
	min-width: 80px;
	font-weight:bold;
	padding: 0 0 3px;
}

.tutorial-description, #intro-text {
	margin-bottom:20px;
	margin-top:10px;
	max-width:350px;
}

.tutorial-btn-container, #intro-btn {
	text-align: center;
	max-width:400px;
	height:30px;
}

.tutorial-next, .tutorial-previous, .tutorial-exit,
#intro-accept, #intro-refuse  {
    color: #000;
    cursor: pointer;
    display: inline-block;
    padding: 4px 5px;
    background: none repeat scroll 0 0 #ccc;
    border: 1px solid #777;
    -webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 2px 10px 0 #999 inset;
    -moz-box-shadow: 0 2px 10px 0 #999 inset;
	-webkit-box-shadow: 0 2px 10px 0 #999 inset;
	-o-box-shadow: 0 2px 10px 0 #999 inset;
	margin-right:5px;
}
.tutorial-next:hover, .tutorial-previous:hover, .tutorial-exit:hover,
#intro-accept:hover, #intro-refuse:hover  {
	background: none repeat scroll 0 0 #ddd;
}

.arrow {
background-image: url("../img/arrow.png");
 position: absolute;
    z-index: 1;
}

.b {
    background-position: 50% 100%;
    background-repeat: no-repeat;
    bottom: -11px;
    height: 11px;
    left: 15px;
    right: 15px;
}

.l {
    background-position: 0 50%;
    background-repeat: no-repeat;
    bottom: 15px;
    height: 22px;
    left: -11px;
    top: 11px;
    width: 11px;
}

.r {
    background-position: 100% 50%;
    background-repeat: no-repeat;
    bottom: 15px;
    height: 22px;
    right: -11px;
    top: 11px;
    width: 11px;
}

.t {
    background-position: 50% 0;
    background-repeat: no-repeat;
    height: 11px;
    left: 15px;
    right: 15px;
    top: -11px;
}
